xsd/departmentA_course.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="courses">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="course" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="course_id" type="xs:string"/>
                            <xs:element name="course_name" type="xs:string"/>
                            <xs:element name="credit" type="xs:string"/>
                            <xs:element name="teacher" type="xs:string"/>
                            <xs:element name="location" type="xs:string"/>
                            <xs:element name="is_shared" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="department" type="xs:string" fixed="A"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
