xsd/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student_id" type="xs:string" minOccurs="0"/>
                <xs:element name="course_id" type="xs:string" minOccurs="0"/>
                <xs:element name="department" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
